# Public HTTP port for the whole application
APP_PORT=18080

# Application runtime
APP_ENV=dev
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_IDLE_TIMEOUT=60s

# PostgreSQL
DB_HOST=postgres
DB_PORT=5432
DB_USER=tutorina
DB_PASSWORD=tutorina
DB_NAME=tutorina
DB_SSL_MODE=disable
